{% extends 'base.html' %}
{% block content %}

<h1>Goal Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ goal.name }}</span>
        <p>Category: {{ goal.category }}</p>
        <p>Description: {{ goal.description|linebreaks }}</p>
        <p>Start Date: {{ goal.start_date|linebreaks }}</p>
        <p>End Date: {{ goal.end_date|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'goals_update' goal.id %}">Edit</a>
        <a href="{% url 'goals_delete' goal.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_update' goal.id %}" method="POST">
      {% csrf_token %}
      {{ update_form.as_p }}
      <input type="submit" class="btn" value="Add Update">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Progress Comment</th></tr>
      </thead>
      <tbody>
        {% for update in goal.update_set.all %}
          <tr>
            <td>{{update.date}}</td>
            <td>{{update.progress_comment}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Rewards Given for {{ goal.name }} Progress</h3>
    {% if goal.rewards.count %}
      {% for reward in goal.rewards.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <h4>{{ reward.name }}</h4>
              <h5>{{ reward.description }}</h5>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <h5>No Rewards Given Yet</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Rewards</h3>
    {% if rewards.count %}
      {% for reward in rewards.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <h4>{{ reward.name }}</h4>
              <h5>{{ reward.description }}</h5>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_reward' goal.id reward.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No More Rewards Available</h5>
    {% endif %}
  </div>
</div>


<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
