{% extends 'base.html' %}
{% block content %}

<h1>My Goals</h1>

{% for goal in goals %}
  <div class="card">
    <a href="{% url 'detail' goal.id %}">
        <div class="card-content">
            <span class="card-title">{{ goal.name }}</span>
            <p>Category: {{ goal.category }}</p>
            <p>Description: {{ goal.description }}</p>
            <p>Start Date: {{ goal.start_date }}</p>
            <p>End Date: {{ goal.end_date }}</p>
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
