{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Goal Tracker</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    
    <ul id="rewards-dropdown" class="dropdown-content">
      <li><a href="{% url 'rewards_create' %}">Add a Reward</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'rewards_index' %}">View All Rewards</a></li>
    </ul>
    
    <ul id="goals-dropdown" class="dropdown-content">
      <li><a href="{% url 'goals_create' %}">Add a Goal</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'index' %}">View All My Goals</a></li>
    </ul>
    
    <ul id="logged-out-dropdown" class="dropdown-content">
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
    </ul>

    <ul id="logged-in-dropdown" class="dropdown-content">
      <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>

    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;GoalTracker</a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
            <!-- Dropdown trigger: Rewards -->
            <li><a class="nav-dropdown-trigger" href="#!" data-target="rewards-dropdown">Rewards<i class="material-icons right">arrow_drop_down</i></a></li>
            <!-- Dropdown trigger: Goals -->
            <li><a class="nav-dropdown-trigger" href="#!" data-target="goals-dropdown">Goals<i class="material-icons right">arrow_drop_down</i></a></li> 
            <!-- Dropdown trigger: Logged Out -->
            <li><a class="nav-dropdown-trigger" href="#!" data-target="logged-in-dropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li> 
          {% else %}
            <!-- Dropdown trigger: Logged Out -->
            <li><a class="nav-dropdown-trigger" href="#!" data-target="logged-out-dropdown">Account<i class="material-icons right">arrow_drop_down</i></a></li> 
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Goal Tracker &nbsp;</div>
  </footer>
</body>
<script>
  $(document).ready(function(){
    $('.nav-dropdown-trigger').dropdown({
      hover: true,
      coverTrigger: false
    });
  })
</script>
</html>
