body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fff1e1;
}

div.nav-wrapper {
  background-color: #1d3c45;
}

div.card-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:nowrap;
  justify-content: space-evenly;
  color: floralwhite;

}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #1d3c45;
}

#home-title {
  text-align: center;
  text-transform: uppercase;
}

#home-heading {
  text-align: center;
}

.card {
  background-color: #d2601a25;
}

a.link.hoverable {
  color: white;
  padding: 20px;
}

#edit {
  padding: 10px;
}

#complete-message {
  text-align: center;
}